ujson
pyee
websockets
cchardet        # faster asyncio
aiodns          # faster asyncio dns resolution
async-timeout
aiohttp
numpy           # faster websocket-client frame py3
wsaccel         # faster websocket-client frame py2
websocket-client
cffi            # gevent dep
idna            # faster gevent dns py2
dnspython       # faster gevent dns py3+
gevent>=1.3.0
requests
psutil
gevent-eventemitter