{% set dl = d.domain | lower %}
from typing import Any, List, Optional, Union
{% for import in timports %}
from cripy.protocol.{{ import | lower }} import types as {{ import }}
{% endfor %}
{% if d.has_events %}
from cripy.protocol.{{ dl }} import events as Events
{% endif %}
{% if d.has_types %}
from cripy.protocol.{{ dl }} import types as Types
{% endif %}


class {{ d.domain }}(object):
{% if d.description %}
    """
    {{ d.description }}
    """

{% endif %}
{% if d.has_deps %}
    {{ d.dep_list_str }}
{% endif %}

    def __init__(self, chrome):
        self.chrome = chrome

    {% for command in d.commands %}
    {% if command.has_parameters %}
    async def {{ command.name }}(self, {{ command.command_arg_string }}) -> Optional[dict]:
    {% else %}
    async def {{ command.name }}(self) -> Optional[dict]:
    {% endif %}
        {% if command.has_parameters %}
        """
        {% for prop in command.parameters %}
        {% if prop.description %}
        :param {{ prop.name }}: {{ prop.nice_description }}
        {% else %}
        :param {{ prop.name }}: The {{ prop.name }}
        {% endif %}
        :type {{ prop.name }}: {{ prop.constructor_docstr }}
        {% endfor %}
        """
        {% endif %}
        {% if command.has_parameters %}
        msg_dict = dict()
        {% for param in command.parameters %}
        if {{ param.name }} is not None:
            msg_dict['{{ param.name }}'] = {{ param.name }}
        {% endfor %}
        mayberes = await self.chrome.send('{{ command.scoped_name }}', msg_dict)
        {% else %}
        mayberes = await self.chrome.send('{{ command.scoped_name }}')
        {% endif %}
        {% if command.returns %}
        res = await mayberes
        {% for trans in command.returns.yield_result_trans() %}
        {{ trans }}
        {% endfor %}
        return res
        {% else %}
        return mayberes
        {% endif %}

    {% endfor %}
    @staticmethod
    def get_event_classes() -> Optional[dict]:
        {% if d.has_events %}
        return Events.EVENT_TO_CLASS
        {% else %}
        return None
        {% endif %}


